streamlit
pandas
requests
ephem
swisseph
pyswisseph
streamlit
numpy
matplotlib
mplcursors
astropy
certifi
jplephem
plotly
PyDrive2
firebase-admin
python-dotenv
requests
streamlit
pandas
numpy
plotly
streamlit-plotly-events
